.Full-Details {
  display: flex;
  width: 80%;
  margin: 0 auto;
  justify-content: space-around;
  border-top: 2px solid #ccc;
  padding: 50px;
  /* background-color: #ccc; */
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  /* border: 1px solid #dddddd; */
  text-align: left;
  padding: 10px;
}

tr:nth-child(even) {
  /* background-color: rgb(229, 231, 116); */
  background-color: #ccc;
}
tr:nth-child(odd) {
  /* background-color: rgb(189, 212, 104); */
  background-color: #ccc;
}
.ActionButton {
  text-align: center;
  padding: 10px 0px;
  display: flex;
}
.ActionButton button {
  width: 49%;
  display: inline-block;
  font-size: 1rem;
  background-color: goldenrod;
}
.ActionButton .Actionbtn1 {
  margin-right: 10px;
}
.originalPrice {
  text-decoration: line-through;
  font-size: 15px;
}
.prodInfo span {
  padding: 4px 10px;
}
.prodInfo {
  font-size: 20px;
  width: 50%;
}
.propertyType {
  background-color: white;
  border: 1px solid green;
  border-radius: 5px;
  color: green;
}
ul {
  list-style: none;
}

ul li:before {
  content: "✓ ";
  color: green;
}

.location {
  margin-top: 0px;
}

.prodInfo h3 {
  margin: 2px auto;
}

.detailedInfo {
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
}
.detailedInfo span {
  font-size: 20px;
  color: #909090;
  padding: 0;
}
.detailedInfo p {
  font-size: 18px;
}
.infoBlock {
  padding: 5px 10px 20px;
}
.sub-title {
  font-weight: bold;
}
.contactOwner {
  background-color: goldenrod;
}

.Full-Details img {
  object-fit: cover;
}

.spinner-FullDetails {
  display: flex;
  justify-content: center;
  align-items: center;
}
